@tailwind base;
@tailwind components;
@tailwind utilities;

.button_primary {
  @apply dark:bg-WhitePrimary dark:text-BlackSecondary bg-BlackSecondary text-WhitePrimary px-[16px] lg:py-[8px] py-[16px] rounded-full font-medium border;
}

.button_secondary {
  @apply dark:border-WhitePrimary border-BlackSecondary dark:text-BlackSecondary  text-BlackSecondary px-[16px] lg:py-[8px] py-[16px] rounded-full font-medium border dark:text-WhitePrimary;
}

/* non tailwind */

html {
  scroll-behavior: smooth;
}

.dark .white_filter {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
    brightness(119%) contrast(115%);
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}
